*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
body{
    font-family: font-family: 'Merriweather', serif;
    font-family: 'Lobster', cursive 'Verdana';
}
a{
    text-decoration: none;
}
h1{
    
    text-align: center;
    color: #fff;
    padding-top: 150px;
    font-family: Lobster;
}
 hr{
     height: 3px;
     
 }  
.container p{
    font-size: 24px;
    font-family: Lobster;
}
/* navBar */
#navbarNav li a{
    color:rgba(255,255,255,0.7);
    font-weight: bolder;
    text-align: right   ;
}
#navbarNav li a:hover{
    font-size: 18px;
}
#carouselExampleInterval .carousel-inner{
    margin:0 auto;
}


.fixed-bg {
    
    background-image: url("../img/bg-wla.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  

/* Cards */
.contenedor{
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 
.contenedor_tarjeta{
    margin: 20px;
}
.contenedor_tarjeta a{
    display: inline-block;
}
.contenedor_tarjeta:hover figure{
    transform: perspective(600px) rotateY(180deg);
}
.contenedor_tarjeta:hover figure img{
    filter: blur(1px);
}
figure{
    width: 300px;
    height: 350px;
    margin: 0;
    position: relative;
    transition: ease .5s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
}
    
figure .frontal,
figure .trasera{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5s;
}  
figure .frontal{
    display: block;
    /* backface-visibility: hidden; */
}
figure .trasera{
    position: absolute;
    top: 0;
    padding: 20px;
    color: #fff;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    overflow: auto;
}
figure .trasera hr{
    height: 2px;
    background: #fff;
    border: none;
    margin-bottom: 20px;
    opacity: .5;
}  
  /* Footer */
  .footer{
      max-height: 400px;
      background-image: url('../img/moroccan-flower-dark.png');
  }
    
  
    
    


  /* MediaQueries */

  @media (min-width:480px){
    h1{
        font-size: 60px;
        
    }
    #carouselExampleInterval .carousel-inner{
        /* margin-left: 300px; */
        background: #3999A8;
        
    }
    section .container-fluid{
        background: #3999A8;
        
    }
    #carouselExampleIndicators .carousel-indicators{
        
        margin-bottom: -30px;
    }
        
        
}


    @media (max-width:992px){
        figure .trasera {
            backface-visibility: visible;
            transform: perspective(600px) rotateY(0deg);
        }
        .contenedor_tarjeta:hover figure {
            transform: perspective(600px) rotateY(0deg);
        }
        
    }
